__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.DS_Store



# Large datasets (optional)
data/raw/

# Streamlit
.streamlit/



tournament.py

# Private keys & secrets
Jenkins.pem
*.pem
*.key
*.p12
*.pfx
*.jks
*.p8

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Environment files (all variants)
.env.*